body {
  background-color: rgb(86, 101, 236);
}


.header {
  position: absolute;
  width: 100%;
}

#logo { 
  position: absolute;
  top: 0px;
  margin-bottom: px;
  margin-right: 25px;
} 

.navigation-links {
  display: flex;
  flex-direction: row;
  position: relative;
  float: right;
}

.navigation-links > div {
  margin: 1vw;
  padding: 14px 16px;
  color: white;
}

.navigation-links > div > a {
  text-align: right;
  text-decoration: none;
  color: white;
  font-family: Tahoma, sans-serif;
  font-size: 3vh;
}

.club-description{
  color:white;
  font-family: Tahoma, sans-serif;
  width: 100%;
  position: absolute;
  top: 30vh;
  text-align: center;
}

.club-description h1 {
  font-size: 10vh;
  font-weight: 500;
  margin-bottom: 0px;
}

.club-description p {
  margin-top:25px;
  margin-bottom: 25px;
}


.join-slack {
  background-color:white;
  border-radius: 10px;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.join-slack:hover {
  border: 1px solid #F2CDDC;
  transition: 1s;
}





