body {
  background-color: rgb(86, 101, 236);
}

.header {
  min-height: 100 vh; /*viewable screen's height*/
  width: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
}

.logo{ 
  position: absolute;
  top: 0px;
  z-index: 800;
  opacity: 1;
} 

.nav {
  display:flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
}


.navigation-links{
  flex: 1;
  text-align: right;
}

.navigation-links ul li{
  list-style: none;
  display:inline-block;
  padding: 20px 12px;
  position: relative;

}

.navigation-links ul li a {
  color:white;
  font-family: Tahoma, sans-serif;
  text-decoration: none;
  font-size: 22px;
}

.navigation-links ul li::after { /*inserts after nav links*/
  content: '';
  width: 0%;
  height: 2px;
  background: white;
  display: block;
  margin: auto;
  transition: 0.5s;
}

.navigation-links ul li:hover:after {
  width: 90%; /*Underlines nav links when hovered over*/
}

.club-description{
  color:white;
  font-family: Tahoma, sans-serif;
  width:90%;
  position: absolute;
  top:450%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.club-description h1 {
  font-size: 60px;
  font-weight: 500;
  margin-bottom: 0px;
}

.club-description p {
  margin-top:25px;
  margin-bottom: 25px;
}


.join-slack {
  background-color:white;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.join-slack:hover {
  border: 1px solid #F2CDDC;
  background: #f09bbd;
  transition: 1s;
}

.new-button {
  background-color:white;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 32px;
}

.new-button:hover {
  border: 1px solid #F2CDDC;
  background: #f09bbd;
  transition: 1s;
}



