body {
    background-color: rgb(86, 101, 236);
}

.logo { 
    position: absolute;
    top: 1vh; /*positioned on top left of page*/
    left: 1vw;
    width: 125px;
    height: 125px;
    margin-bottom: 25px;
    display: flex;
} 
  
.navigation-links {
    display: flex; /*flexbox for navigation links*/
    flex-direction: row;
    top: 8px;
    position: relative;
    float: right; /*positioned on top right of page*/
}
  
.navigation-links > div {
    /*specifies spacing between flexbox elements*/
    margin: 1vw; 
    padding: 14px 16px;
    color: white;
}
  
.navigation-links > div > a { /*specifies styling for text*/
    text-align: right; 
    text-decoration: none;
    color: white;
    font-family: Tahoma, sans-serif;
    font-size: 20px;
}

.centered-vertically {
  display: flex;
  align-items: center;
}

.container > img {
  width: 100%;
  height: 9em;
  object-fit: cover;
}

@media (max-width: 800px) {
    .row {
        display: inline-block;
        left: 0;
    }
    
    .logo { 
        width: 90px;
        height: 90px;
      }
    
      .navigation-links > div > a {
        font-size: 10px;
      }

      .title > h1 {
        font-size: 40px;
        width: 50%;
        padding: 0;
        float:left;
      }

      .navigation-links > div {
        /*specifies spacing between flexbox elements*/
        margin: 1vw; 
        padding: 14px 10px;
        color: white;
    }


}

.container {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

h3 {
  font-family: Calibri, Arial, sans-serif;
  color: white;
  text-align: center;
  margin: 0;
  padding: 0.2em;
}

h1 {
    color: white;
    text-shadow: 2px 2px 1px #da719b; /*horizontal and vertical shadow of 2px, blur radius of 1px, and pink color*/
    font-family: Tahoma, Arial, sans-serif;
    font-size: 2em;
    font-weight: 500;    
}

.container {
  display: grid;
  grid-template-rows: 0.5fr auto 0.5fr;
  width: 15em;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 2em;
}

.centered-children, h3 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.resources-container {
  display: grid;
}

.content {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
}
