body {
    background-color: rgb(86, 101, 236);
}

.logo { 
    position: absolute;
    top: 0px; /*positioned on top left of page*/
    left: 0px;
    width: 125px;
    height: 125px;
    margin-bottom: 25px;
    display: flex;
} 
  
.navigation-links {
    display: flex; /*flexbox for navigation links*/
    flex-direction: row;
    top: 8px;
    position: relative;
    float: right; /*positioned on top right of page*/
}
  
.navigation-links > div {
    /*specifies spacing between flexbox elements*/
    margin: 1vw; 
    padding: 14px 16px;
    color: white;
}
  
.navigation-links > div > a { /*specifies styling for text*/
    text-align: right; 
    text-decoration: none;
    color: white;
    font-family: Tahoma, sans-serif;
    font-size: 20px;
}

.container > img {
    width:  350px;
    height: 300px;
    object-fit: cover;
}

.row {
    top: 33vh;
    display:flex;
    left: 13vw;
    position: relative;
}

@media (max-width: 800px) {
    .row {
        display: inline-block;
        left: 0;
    }
    
    .logo { 
        width: 90px;
        height: 90px;
      }
    
      .navigation-links > div > a {
        font-size: 10px;
      }

      .title > h1 {
        font-size: 40px;
        width: 50%;
        padding: 0;
        float:left;
      }

      .navigation-links > div {
        /*specifies spacing between flexbox elements*/
        margin: 1vw; 
        padding: 14px 10px;
        color: white;
    }


}



  
.box {
    width: 350px;
    padding: 0 10px;
}

.container {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

h3 {
    font-family: Calibri, Arial, sans-serif;
    color: white;
    text-align: center;
}

h1 {
    color: white;
    text-shadow: 2px 2px 1px #da719b; /*horizontal and vertical shadow of 2px, blur radius of 1px, and pink color*/
    font-family: Tahoma, Arial, sans-serif;
    font-size: 55px;
    font-weight: 500;    
}

.title {
    position: absolute;
    top: 15vh;
    text-align: center;
    margin-left: 36vw;
}
  